html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style.
      body {
        margin: 0;
      }
      #display {
        background-color: rgb(64, 64, 92);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        min-height: 100vh;
      }
      #fullscreen-button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: monospace;
        opacity: 0.25;
        background: rgb(255, 255, 255);
        position: fixed;
        top: 0;
        right: 0;
        width: 25vw;
        height: 12vh;
      }
      #nav-prev, #nav-next {
        position: fixed;
        top: 0;
        opacity: 0.5;
        min-height: 100vh;
        width: 50vw;
      }
      #nav-prev {
        left: 0;
      }
      #nav-next {
        right: 0;
      }
    title= title
  body
    #display
    #nav-prev
    #nav-next
    #fullscreen-button fullscreen

    script.
      var files = !{JSON.stringify(files)}
      var baseUrl = '#{baseUrl}'
      var index = files.length - 1

      // touch / click & hold to "play"
      var repeatDelay = +localStorage.repeatDelay || 200
      var repeatRate = +localStorage.repeatRate || 30
      var repeatTimer = null
      var touchStartEvent = null
      var lastUpTs = 0

      function updateImg () {
        var img = files[index]
        var elem = document.getElementById('display')
        elem.style.backgroundImage = `url(${baseUrl}${img})`
      }

      function toggleFullscreen () {
        if (!document.fullscreen) {
          var elem = document.getElementsByTagName('body')[0]
          elem.requestFullscreen()
        } else {
          document.exitFullscreen()
        }
      }

      function nav (dir) {
        if (files[index + dir]) {
          index += dir
          updateImg()
        }
      }

      function down (dir) {
        clearTimeout(repeatTimer)
        repeatTimer = setTimeout(() => { repeat(dir) }, repeatDelay)
      }

      function repeat (dir) {
        nav(dir)
        repeatTimer = setTimeout(() => { repeat(dir) }, repeatRate)
      }

      function up (dir) {
        clearTimeout(repeatTimer)
        var ts = +new Date()
        if (ts - lastUpTs < 10) return // assume mouse + touch event of same origin
        lastUpTs = ts
        nav(dir)
      }

      function stopRepeat () {
        clearTimeout(repeatTimer)
      }

      function move (e) { // check if touch moved too much, then cancel "play"
        if (!touchStartEvent) return
        var x = Math.abs(touchStartEvent.targetTouches[0].clientX - e.targetTouches[0].clientX)
        var y = Math.abs(touchStartEvent.targetTouches[0].clientY - e.targetTouches[0].clientY)
        if (x + y > 100) { // XXX "100" VERY arbitrary
          stopRepeat()
          return true
        }
      }

      // "shortcut" functions
      function startPrev (e) {
        touchStartEvent = e
        down(-1)
      }
      function startNext (e) {
        touchStartEvent = e
        down(1)
      }
      function stopPrev (e) {
        up(-1)
      }
      function stopNext (e) {
        up(1)
      }

      document.getElementById('fullscreen-button').addEventListener('click', toggleFullscreen)
      var ePrev = document.getElementById('nav-prev')
      var eNext = document.getElementById('nav-next')

      ePrev.addEventListener('touchstart', startPrev)
      ePrev.addEventListener('touchend', stopPrev)
      eNext.addEventListener('touchstart', startNext)
      eNext.addEventListener('touchend', stopNext)

      ePrev.addEventListener('mousedown', startPrev)
      ePrev.addEventListener('mouseup', stopPrev)
      eNext.addEventListener('mousedown', startNext)
      eNext.addEventListener('mouseup', stopNext)

      // NOTE are these needed?
      ePrev.addEventListener('touchmove', move)
      eNext.addEventListener('touchmove', move)
      // NOTE are these needed?
      ePrev.addEventListener('touchcancel', stopRepeat)
      eNext.addEventListener('touchcancel', stopRepeat)

      updateImg()

      // preload images
      var images = []
      for (var i = files.length - 1; i >= 0; i--) {
        images[i] = new Image()
        images[i].src = `${baseUrl}${files[i]}`
      }

      document.onkeydown = function (evt) {
        evt = evt || window.event
        if (evt.keyCode === 37) return nav(-1)
        if (evt.keyCode === 39) return nav(1)
      }
