html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- meta(name="viewport" content="height=device-height")
    style.
      body {
        margin: 0;
      }
      #display {
        background-color: rgb(64, 64, 92);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        min-height: 100vh;
      }
      #fullscreen-button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: monospace;
        opacity: 0.25;
        background: rgb(255, 255, 255);
        position: fixed;
        top: 0;
        right: 0;
        width: 25vw;
        height: 12vh;
      }
      #nav-left, #nav-right {
        position: fixed;
        top: 0;
        opacity: 0.5;
        min-height: 100vh;
        width: 50vw;
      }
      #nav-left {
        left: 0;
        //- background-color: red;
      }
      #nav-right {
        right: 0;
        //- background-color: green;
      }
    title= title
  body
    #display
    #nav-left(onclick="nav(-1)")
    #nav-right(onclick="nav(1)")
    #fullscreen-button(onclick="toggleFullscreen()")
      | fullscreen

    script.

      var files = !{JSON.stringify(files)}
      var baseUrl = '#{baseUrl}'
      var i = files.length - 1

      function setImg (img) {
        var elem = document.getElementById('display')
        elem.style.backgroundImage = `url(${baseUrl}${img})`
      }

      function toggleFullscreen () {
        if (!document.fullscreen) {
          var elem = document.getElementsByTagName('body')[0]
          elem.requestFullscreen()
        } else {
          document.exitFullscreen()
        }
      }

      function nav (dir) {
        if (i + dir < 0) return
        if (i + dir > files.length - 1) return
        i += dir
        setImg(files[i])
      }

      setImg(files[i])

      // preload images
      var images = []
      for (var i = files.length - 1; i >= 0; i--) {
        images[i] = new Image()
        images[i].src = `${baseUrl}${files[i]}`
      }
